
$color-bg: rgb(237, 242, 249);
$color-primary: rgb(44, 123, 229);
$color-farme: rgb(255, 255, 255);
$color-text: rgb(52, 64, 80);
$color-text-2: rgb(94, 110, 130);

$color-google: rgb(221, 75, 57);
$color-facebook: rgb(60, 90, 153);

$shadow: 0 25px 50px -12px rgb(0 0 0 / 0.1);